
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1d;
    color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #121212; 
    border-bottom: 4px solid #00ff6a; 
    height: 90px; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

.social-media-icons {
    position: absolute;
    top: 10px; 
    right: 60px; 
    display: flex;
    gap: 15px; 
}

.social-media-icons a img {
    width: 25px; 
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.social-media-icons a img:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
}

.social-media-icons a img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(120deg) brightness(100%) contrast(100%);
}

.social-media-icons a img:hover {
    filter: invert(46%) sepia(81%) saturate(429%) hue-rotate(120deg) brightness(92%) contrast(90%);
}

.logo-container {
    position: absolute;
    top: -30px;
    left: 50px;
}

.logo {
    width: 200px;
    height: auto;
}

.header-content {
    flex: 2;
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 90%; 
    max-width: 700px;
    position: relative;
}
.button-icon {
    width: 20px;
    height: 20px;
}

.search-bar input {
    flex-grow: 1; 
    padding: 8px 13px;
    border: 2px solid #00ff6a;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-size: 16px;
    background-color: #1f1f1f;
    color: #ffffff;
}

.search-bar input::placeholder {
    color: #b3b3b3;
}

.search-bar .search-btn {
    padding: 8px 13px;
    background-color: #00ff6a;
    border: 2px solid #00ff6a;
    border-radius: 0 25px 25px 0;
    color: #121212;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    margin-left: 5px; 
}

.search-bar .search-btn:hover {
    background-color: #00cc55;
}

.cart-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    right: -40px; 
    top: 50%; 
    transform: translateY(-50%);
    width: 30px; 
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cart-icon-container .cart-icon {
    width: 100%; 
    height: auto;
    filter: invert(100%); 
}

.cart-icon-container:hover .cart-icon {
    transform: scale(1.2); 
    opacity: 0.8;
}

/* Login*/

.login-icon-container {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.login-icon {
    width: 100%;
    height: auto;
    filter: invert(100%); 
}

.login-icon-container:hover .login-icon {
    transform: scale(1.2); 
    opacity: 0.8; 
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding-top: 10px; 
    background-color: #1a1a1d;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); 
    animation: fadeIn 1.5s ease-in-out; 
}

.login-container {
  width: 90%;
  max-width: 400px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}

.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #00ff6a;
}

.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.login-form .login-btn {
  width: 100%;
  padding: 10px;
  background-color: #00ff6a;
  color: #121212;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form .login-btn:hover {
  background-color: #00cc52;
}

.login-form p {
  font-size: 14px;
  margin-top: 10px;
}

.login-form a {
  color: #00ff6a;
  text-decoration: none;
}

.login-form input,
.login-form .login-btn {
    margin-bottom: 20px;
}

/* End Login */

.header-icon-img {
    width: 30px; 
    height: 30px; 
    vertical-align: middle; 
    margin-right: 8px; 
    filter: invert(100%); 

}

.header-icons {
    float: right;
    font-size: 20px;
}

#cart-icon, #favorite-icon {
    margin-left: 20px;
    cursor: pointer;
}

#cart-icon img:hover, #favorite-icon img:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
}

#cart-count, #fav-count {
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    position: relative;
    top: -10px;
    left: -5px;
}

.search-btn {
    margin-right: 5px;
}

.cart-icon-container {
    margin-right: 5px; 
}


.navbar {
    width: 1000px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.navbar ul li a.active,

.navbar ul li a:hover {
    background-color: #00ff6a; 
    color: #121212; 
    border-radius: 5px;
}

/* C&G Peripherals dropdown */
.navbar ul li.dropdown {
    position: relative; 
}

.navbar ul li .dropbtn {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.navbar ul li .dropbtn:hover {
    background-color: #00ff6a;
    border-radius: 5px;
}

.navbar ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #121212;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    top: 100%;
    z-index: 1;
}

.navbar ul li .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: normal;
}

.navbar ul li .dropdown-content a:hover {
    background-color: #00ff6a;
    color: #121212;
}

.navbar ul li.dropdown:hover .dropdown-content {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1a1a1d; 
    padding-top: 100px;
}

.logos-container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 130px; 
    padding: 40px;
    background-color: #1f1f1f; 
}

.logos-container img {
    max-width: 50px; 
    height: auto; 
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.logos-container img:hover {
    filter: grayscale(0); 
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    z-index: 1500;
    position: absolute;
    top: 10px;
    right: 20px;
}
  
.menu-toggle span {
    height: 3px;
    width: 25px;
    background: #00ff6a;
    margin: 4px 0;
    border-radius: 2px;
}
  

/* End header */
/* Introduction Section */

.introduction {
    position: relative;
    text-align: center;
    color: #ffffff;
    padding: 120px 30px;
    background: url('images/background1.webp') no-repeat center center; 
    filter: brightness(90%);
    background-size: 120% 600px;
    background-position: center 140px; 
    background-attachment: fixed; 
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.6); 
}

.introduction-content {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6); 
    animation: fadeIn 1.5s ease-in-out; 
}

.introduction h1 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    color: #00ff6a; 
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.introduction p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.introduction span {
    color: #00ff6a; 
    font-weight: bold;
    text-transform: uppercase;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: #00ff6a;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #ffffff;
    color: #00ff6a;
    box-shadow: 0 0 15px rgba(0, 255, 106, 0.8);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Flash Deal Section */

.offer-highlights, .trending-types, .game-highlights {
    padding: 10px;
    list-style-type: disc;
    margin-left: 20px;
    color: #ccc;
}

.trending-types, .upcoming-games-list {
    padding: 10px;
    list-style-type: decimal;
    margin-left: 20px;
    color: #ccc;
}

.offer-highlights li, .trending-types li, .game-highlights li, .upcoming-games-list li {
    font-size: 1em;
    margin-bottom: 8px;
}

.deals-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.flash-deal {
    background-color: #2c2c2c;
    flex: 1;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}

.deal-dates {
    font-size: 1em;
    font-weight: bold;
    color: #ff4500;
    margin-bottom: 20px;
    animation: pulse 2s infinite;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        color: #ff4500;
    }
    50% {
        color: #ff6347;
    }
    100% {
        color: #ff4500;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

.section-title {
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 15px;
}

.deal-card {
    text-align: center;
    border: 1px solid #00ff6a;
    border-radius: 10px;
    padding: 15px;
}

.deal-image {
    width: 100%;
    border-radius: 10px;
}

.product-name {
    font-size: 1.2em;
    margin: 10px 0;
}

.stock {
    font-size: 0.9em;
    color: #ccc;
}

.price {
    margin: 10px 0;
}

.final-price {
    font-size: 1.5em;
    color: #00ff6a;
}

.discount {
    font-size: 0.9em;
    color: red;
}

.original-price {
    text-decoration: line-through;
    color: #ccc;
}

.cart-btn {
    padding: 10px 20px;
    background: #ccc;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.cart-btn:hover {
    background: #00cc55;
}

/* End Flash Deal Section */

/* Trending Offers Section */

.trending-offers {
    background-color: #2c2c2c;
    flex: 2;
    padding: 20px;
    border-radius: 10px;
}

.caption {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: #ccc;
}

.offers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.offer-card {
    background: #2c2c2c;
    border: 1px solid #00ff6a;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.offer-image {
    width: 100%;
    border-radius: 10px;
}

.btn-container {
    text-align: center;
    padding: 30px;
    margin-top: -18px;
    border-radius: 20px;
    background-color: #1a1a1d;
  }
  
.more-btn {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.more-btn:hover {
    background-color: #28a745;
  }


/* End Trending Offers Section */




/* Upcoming Games */



.games-list h2 {
    text-align: center;
    font-size: 38px;
    margin:50px 0;
    color: #fff;
}

.games-list h5 {
    text-align: center;
    font-size: 20px;
    color: #b3b3b3;
    margin-bottom: 30px;
}

.store-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #2c2c2c;
    color: white;
}

.item-card {
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: start;
    position: relative;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container a img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.image-container .hover-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 0px;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    gap: 1px;
}

.image-container .hover-description p {
    margin: 2px 0; 
    line-height: 1.2; 
}


.image-container .hover-description p strong {
    color: #777; 
    font-size: 15px; 
    background-color: rgba(0, 0, 0, 0.9); 

}

.image-container:hover a img {
    transform: scale(1.1);
}

.image-container:hover .hover-description {
    opacity: 1;
    transform: translateY(0);
}

.item-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.details {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.details p {
    margin: 5px 0;
}

.details p strong {
    color: #fff; 
    font-size: 15px; 
}

.pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    font-size: 14px;
}

.pricing .discount {
    color: red;
    font-weight: bold;
}

.pricing .original-price {
    text-decoration: line-through;
    color: #777;
}

.pricing .final-price {
    color: #00ff6a;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.actions button {
    background-color: #ccc;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
    transition: background-color 0.3s ease-in-out;
}

.actions button:hover {
    background-color: #00cc55;
}

.wishlist-btn {
    background-color: transparent;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.wishlist-btn:hover {
    color: #ffffff;
}

.button-container {
    text-align: center;
    padding: 30px;
    background-color: #2c2c2c;
  }
  
.more-button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.more-button:hover {
    background-color: #28a745;
  }

/* End Upcoming Games */

/* Footer */

footer {
    background-color: #121212;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 200px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #00ff6a;
}

.footer-column ul,
.footer-column ol {
    list-style: none;
    padding: 0;
}

.footer-column ul li,
.footer-column ol li {
    margin: 5px 0;
    color: #ccc;
}

.footer-column p {
    color: #ccc;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
    transition: transform 0.2s ease-in-out;
}

.social-icons a img:hover {
    transform: scale(1.2);
}


.footer-payment {
    background-color: #121212;
    padding: 20px 0;
    text-align: center;
}

.footer-payment h3 {
    color: white;
    font-size: 18px; 
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    margin-bottom: 20px; 
    font-family: "Mogra", serif;
    font-weight: 400;
    font-style: normal;
}


.payment-methods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.payment-methods img {
    width: 50px;
    height: 30px;
   
}

.payment-methods img:hover {
    transform: scale(1.1);
}

/* Mobile responsive header */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        height: 120px; 
        padding: 10px;
    }

    .social-media-icons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        margin-right: 30px;
    }
    
    .social-media-icons a img {
        width: 25px; 
        height: 25px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .logo-container {
        position: static;
        margin: 0 auto 10px; 
        margin-bottom: 45px;
        text-align: left; 
        width: 100%; 
        padding-left: 10px; 
    }

    .logo {
        width: 160px; 
        height: auto;
    }
    
    .search-bar{
        margin: -90px 0;
        width: 500px;
    }

    .menu-toggle {
        display: none; 
        margin-right: 5px;
    }

    .navbar-toggle {
        background-color: #00ff6a;
        color: #121212;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 20px;
        margin: 0 auto;
        border-radius: 5px;
        text-align: center;
    }

    .navbar { 
        width: 100%;
        background-color: transparent; 
        padding: 0;
        position: absolute;
        top: 100%; 
        left: 1;
        right: 0;
        z-index: 1000;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .navbar ul li {
        margin: 10px 0;
    }
    .login-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; 
        right:170px; 
        top: 60%; 
        transform: translateY(-50%);
        width: 30px; 
        height: 30px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    .login-icon {
        width: 100%;
        height: auto;
        filter: invert(100%); 
    }

    #cart-icon {
        margin-left: 55px;
        cursor: pointer;
    }
    
    .menu-toggle {
        display: flex;
    }
      
    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #121212;
        padding: 10px 0;
        width: 100%;
        margin-top: 10px;
        border-top: 1px solid #00ff6a;
    }
      
    .navbar ul.active {
        display: flex;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
      
    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }
      
    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
      
    .menu-toggle span {
        transition: all 0.3s ease;
    }
      
      
    


}

/* Mobile responsive Login section */
@media (max-width: 768px) {
    .login-container {
        width: 75%;
        height: 500px;
        padding: 20px;
    }
  
    .login-form {
      width: 100%;
      margin: 0 auto;
    }
    .login-form input,
    .login-form .login-btn {
        margin-bottom: 20px; 
    }

    .login-form h1 {
        font-size: 20px; 
    }

    .login-form input,
    .login-form .login-btn {
        padding: 15px; 
    }
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        text-align: center;
        height: 100px; 
        padding: 10px;
    }

    .social-media-icons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        margin-right: 30px;
    }
    
    .social-media-icons a img {
        width: 20px; 
        height: 20px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .logo-container {
        position: static;
        margin: 0 auto 10px; 
        margin-bottom: 45px;
        text-align: left; 
        width: 100%; 
        padding-left: 2px; 
    }

    .logo {
        width: 150px; 
        height: auto;
    }
    
    .search-bar {
        position: absolute;
        left: 130px;        
        width: 120px;       
        max-width: 100%;   
        padding: 4px 8px;   
        font-size: 14px;   
        box-sizing: border-box;  
    }
    
    .search-bar input {
        height: 30px;
        width: 120px;
        font-size: 10px;
        padding: 6px 10px;
        box-sizing: border-box;
    }
    
    .search-btn {
        height: 30px;
        width: 40px;
        padding: 6px;
    }
    

    .menu-toggle {
        display: none; 
        margin-right: 5px;
    }

    .navbar-toggle {
        background-color: #00ff6a;
        color: #121212;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 20px;
        margin: 0 auto;
        border-radius: 5px;
        text-align: center;
    }

    .navbar { 
        width: 100%;
        background-color: transparent; 
        padding: 0;
        position: absolute;
        top: 100%; 
        left: 1;
        right: 0;
        z-index: 1000;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    .navbar ul li {
        margin: 10px 0;
    }
    .login-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute; 
        right:0px; 
        top: 50%; 
        transform: translateY(-50%);
        width: 26px; 
        height: 26px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    
    .login-icon {
        width: 30px;
        height: auto;
        filter: invert(100%); 
    }
    
    .header-icons {
        display: flex;
        align-items: center;
        gap: 10; /* No gap between icons */
        justify-content: flex-start; /* Center the icons */
    }

    #cart-icon, #favorite-icon {
        position: relative;
        display: inline-block;
    }
    
    #cart-count, #fav-count {
        position: absolute;
        left: 20px;
        top: -10px;
        background: red;
        color: white;
        border-radius: 50%;
        font-size: 10px;
        padding: 2px 6px;
    }
    
    .header-icon-img {
        margin: 0; /* Remove any margin */
        width: 25px; /* Consistent size for icons */
        height: auto;
        cursor: pointer;
    }

    .menu-toggle {
        display: flex;
    }
      
    .navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #121212;
        padding: 10px 0;
        width: 100%;
        margin-top: 10px;
        border-top: 1px solid #00ff6a;
    }
      
    .navbar ul.active {
        display: flex;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
      
    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }
      
    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
      
    .menu-toggle span {
        transition: all 0.3s ease;
    }

}
  
/* Mobile responsive introduction section */
@media (max-width: 768px) {
    .introduction {
        padding: 40px 15px; 
        background-size: cover;
        text-align: center;
    }

    .introduction h1 {
        font-size: 28px; 
    }

    .introduction p {
        font-size: 16px;
    }

    .logos-container {
        gap: 15px;
        flex-wrap: wrap;
    }
}

/* Mobile responsive deals section */
@media (max-width: 768px) {
    .deals-container {
        width: 83%;
        padding-left: 16px;
        flex-direction: column;
        gap: 15px;
    }

    .flash-deal,
    .trending-offers {
        width: 100%;
    }

    .offers-grid {
        grid-template-columns: 1fr; 
    }
}

/* Mobile responsive games section */
@media (max-width: 768px) {
    .store-items {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    .image-container .hover-description {
        font-size: 12px;
    }
}

/* Mobile responsive footer */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 20px; 
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .social-icons {
        justify-content: center;
        gap: 10px; 
    }

    .payment-methods {
        display: flex;
        justify-content: center;
        gap: 10px; 
        flex-wrap: wrap; 
    }

    .payment-methods img {
        width: 40px;
        height: 24px; 
    }
}
